body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
.people-cards {
  display: flex;
}
a:hover img {
  transform: scale(1.05);
}

div {
  width: 300px;
  height: 500px;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  margin: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  border-radius: 35px;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

h2 {
  margin: 8px 0;
}

h3 {
  margin: 6px 0;
}

p {
  color: #666;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
